@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
.about-page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  font-family: "Georgia", serif;
  color: white;
  


}

.about-page h2 {
  font-size: 2.8rem;
  color:black;
  margin-bottom: 40px;
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.about-section.normal {
  flex-direction: row;
}

.about-section.reverse {
  flex-direction: row-reverse;
}

.about-text {
  flex: 1;
  font-size: 1.5rem;
  line-height: 1.7;
  min-width: 280px;
  color: red;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  text-shadow: 2px 2px 4px white;
}

.about-image {
  flex: 1;
  min-width: 280px;
}

.about-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(168, 91, 43, 0.3);
  transition: transform 0.3s ease;
}

.about-image img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(168, 91, 43, 0.6);
}

/* Responsive */
@media (max-width: 768px) {
  .about-section {
    flex-direction: column !important;
  }
  .about-image img {
    height: 200px;
  }
}
